<table border="1">
  <thead>
    <tr>
      <th>Movie Image</th>
      <th>Movie Title</th>
      <th>Date</th>
      <th>Time</th>
      <th>Host</th>
      <th>Guests</th>
    </tr>
  </thead>
  
  <tbody>
  <% parties.each do |party| %>
    <tr>
      <td>
        <%= image_tag party.movie_image, width: 100 %>
      </td>

      <td>
        <%= link_to party.movie_title, movie_path(party.movie_id) %>
      </td>

      <td><%= party.party_date %></td>

      <td><%= party.start_time.strftime("%I:%M %p") %></td>

      <td id="host-name-td-<%= party.id %>" class="party-host">
        <%= party.host.name %>
      </td>

      <td id="guest-list-td-<%= party.id %>">
        <%= party.invitee_names.map { |name| name == @user.name ? "<strong>#{name}</strong>" : name }.join(", ").html_safe %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
