<h2 style="text-align: center;">Discover Movies</h2>
<div style="text-align: center;">
  <%= form_tag movies_path, method: :get do %>
    <%= hidden_field_tag :query, "top_rated" %>
    <%= submit_tag "Find Top Rated Movies", class: "btn btn-primary", name:nil %>
  <% end %>
</div>
<h3 style="text-align: center;">Or</h3>
<div style="text-align: center;">
  <%= form_tag movies_path, method: :get, class: "movie-search-form" do %>
    <%= label_tag :query, "Find Movies:" %>
    <%= text_field_tag :query, params[:query] %>
    <%= submit_tag "Search", class: "btn btn-primary", name:nil %>
  <% end %>
</div>
